.bg-darker {
 background-color: #f4f5f7;
}

section .features {
 display: flex;
 flex-direction: column;
 align-items: center;
 row-gap: 20px;
 margin-bottom: 3rem;
}

section .paddingX {
 padding-inline: 2rem;
}

@media only screen and (min-width: 768px) {
 section .features {
  align-items: start;
 }
 section .services {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
 }

 section .paddingX {
  padding-inline: 0rem;
 }
}
