.card {
 display: flex;
 flex-direction: column;
 overflow: hidden;
 background: var(--White);
 row-gap: 20px;
 margin-bottom: 3rem;
 border-radius: 5px;
}

.card img {
 max-width: 100%;
 display: block;
 object-fit: cover;
}
.card__body {
 padding: 1rem 1.5rem;
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}

.tag {
 align-self: flex-start;
 padding: 0.25em 0.75em;
 border-radius: 1em;
 font-size: 0.75rem;
}

@media only screen and (min-width: 768px) {
}
